body {
    background-color: grey;
    color: black;
    text-align: center;
}
nav a:link {
    color: blue;
}
nav a:visited {
    color: purple;
}
nav a:hover {
    color: red;
}
p{
    width:500px;
    margin: 0 auto;
}